:root {
  --primary-border: 2px solid var(--primary-color);
  --secondary-border: 2px solid var(--secondary-color);
}
/*** profile-container ***/
.profile-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.profile-container {
  width: 30%;
  max-width: 1000px;
  min-height: calc(100vh - 190px);
  margin: auto;
  padding: var(--xl-space);
  row-gap: var(--xl-space);
}
/*******/

/*** profile ***/
.profile {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  align-items: stretch;
  padding: var(--md-space);
}
.profile-list {
  row-gap: var(--xxl-space);
  padding: var(--md-space);
  margin: 0;
  border-right: var(--secondary-border);
}
.profile-list-item {
  padding: var(--sm-space);
}
.profile-links {
  text-decoration: none;
  color: inherit;
}
.profile-active-link {
  color: var(--primary-color);
  border-bottom: var(--primary-border);
}
.quiz-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.sub-stats {
  border-top: 1px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
}
.sub-stats-info {
  flex: 1;
  text-align: center;
  padding: var(--md-space);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--secondary-color);
}
.stats-info {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--secondary-color);
  padding: var(--md-space);
  text-align: center;
}
/*******/

/*** profile-info ***/
.profile-info,
.address-info {
  padding: var(--md-space);
  flex-grow: 1;
  flex-direction: column;
  gap: var(--xl-space);
}
.address-info {
  align-items: stretch;
}
.profile-info .avatar {
  flex: 1 0 150px;
}
.details {
  width: 100%;
  row-gap: var(--lg-space);
}
.info {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.profile-cta {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--md-space);
}
.signout-btn {
  box-shadow: none;
  line-height: 1;
}
/*******/

/*** orders ***/
.order-info {
  row-gap: var(--md-space);
  margin-bottom: var(--sm-space);
}
/*******/

/*** media-queries ***/
@media only screen and (max-width: 1200px) {
  .profile-list {
    display: none;
  }
  .profile-container {
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .info {
    width: 100%;
  }
}
/*******/
