@font-face {
  font-family: "ultraregular";
  src: url("./fonts/ultra/ultra.woff") format("woff2"),
    url("./fonts/ultra/ultra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 80%;
  }
}
:root {
  --option-bg-color: hsl(207, 15%, 88%);
}
/*** dark-theme-colors ***/
.dark {
  --background-color: hsl(233, 13%, 14%);
  --option-bg-color: hsl(203, 26%, 29%);
  --text-color: hsl(208, 31%, 90%);
  --sidebar-bg-color: hsla(0, 2%, 10%, 0.1);
  --sidebar-fallback-bg-color: hsla(0, 2%, 17%, 0.85);
  --sidebar-list-hover-color: hsl(180, 3%, 24%);
  --border-color: hsl(192, 4%, 44%);
  --card-shadow: 0 4px 8px 0 hsla(0, 1%, 29%, 0.2);
  --card-hover-shadow: 0 8px 16px 0 hsla(0, 1%, 55%, 0.2);
  --card-overlay-color: hsla(240, 4%, 38%, 0.6);
}
/*******/

/*** Utilities ***/
.max-w-xs {
  max-width: 20rem;
}
.cursor-pointer {
  cursor: pointer;
}
/*******/
